# Traefik Main Configuration File
global:
  sendAnonymousUsage: true

api:
  dashboard: true
  insecure: true  # Solo para pruebas locales

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false

log:
  level: INFO
  format: common

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

# TLS usando certificado manual
tls:
  certificates:
    - certFile: "/etc/certs/cert.pem"
      keyFile: "/etc/certs/key.pem"

http:
  routers:
    traefik:
      rule: "Host(`traefik.universidad.localhost`)"
      service: "api@internal"
      entryPoints:
        - websecure
      tls: true
