services:    
    postgresql:  # Este es el nombre del servicio dentro del docker-compose. 
                 # Puedes usar este nombre para conectarte desde otros contenedores.
        container_name: postgresql-servidor  
                 # Es el nombre que tendrá el contenedor en Docker. Útil para referirse a él
                 # desde comandos docker (docker ps, docker exec, etc.)
        image: postgres:15.4-bullseye  
                 # Imagen de Docker que se va a usar para crear el contenedor.
                 # Aquí se especifica la versión 15.4 de PostgreSQL con la variante "bullseye" (basada en Debian 11)
        ports:
            - "5432:5432"  
                 # Mapea el puerto 5432 del contenedor (puerto por defecto de PostgreSQL) 
                 # al puerto 5432 de tu máquina host. Esto permite conectarse a la base de datos
                 # desde fuera de Docker (por ejemplo, con PgAdmin o una aplicación local).
        networks:
            - mired
                 # Indica que el contenedor estará en la red "mired". Esto permite la comunicación
                 # con otros contenedores que estén en la misma red.
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}  
                 # Variable de entorno que define la contraseña del usuario de PostgreSQL.
                 # Se está usando un valor externo tomado del archivo .env.
            - POSTGRES_DB=${POSTGRES_DB}  
                 # Nombre de la base de datos que se creará automáticamente al iniciar el contenedor.
            - POSTGRES_USER=${POSTGRES_USER}  
                 # Nombre del usuario principal que tendrá acceso a la base de datos.
            - PGDATA=/var/lib/postgresql/data/pgdata  
                 # Ruta interna dentro del contenedor donde PostgreSQL almacenará los datos.
                 # Permite personalizar dónde se guardan los archivos de la DB.
        volumes:
            - ./data:/var/lib/postgresql/data  
                 # Mapea la carpeta local ./data a la carpeta de datos del contenedor.
                 # Esto persiste la información de la base de datos fuera del contenedor
                 # para que no se pierda al reiniciar o eliminar el contenedor.
            - ./sql:/docker-entrypoint-initdb.d  
                 # Mapea la carpeta local ./sql a la carpeta donde PostgreSQL busca scripts
                 # de inicialización. Cualquier archivo .sql o .sh que pongas aquí se ejecutará
                 # automáticamente al crear la base de datos por primera vez.
        restart: always  
                 # Configura la política de reinicio del contenedor.
                 # "always" significa que Docker intentará reiniciar el contenedor si se detiene o falla.

networks:
    mired:
        external: true  
                 # Indica que la red "mired" ya existe fuera de este docker-compose.
                 # No se creará automáticamente, se asumirá que ya fue creada con:
                 # docker network create mired
